[submodule "system"]
	path = system
	url = git://github.com/modulargaming/core
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/modulargaming/database
[submodule "modules/message"]
	path = modules/message
	url = git://github.com/modulargaming/message
