[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/sprig"]
	path = modules/sprig
	url = git://github.com/shadowhand/sprig.git
[submodule "modules/A2"]
	path = modules/A2
	url = git://github.com/Wouterrr/A2.git
[submodule "modules/ACL"]
	path = modules/ACL
	url = git://github.com/Wouterrr/ACL.git
[submodule "modules/A1"]
	path = modules/A1
	url = git://github.com/copy112/A1.git
[submodule "modules/blog"]
	path = modules/blog
	url = git@github.com:copy112/mg-blog.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = http://github.com/kohana/pagination.git
