/* Inspired by http://github.com/pilu/web-app-theme */

/* Reset */
body, div, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote,
table, thead, tbody, tr, td, th {
	margin: 0; padding: 0; border: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; text-decoration: none; vertical-align: baseline;
}

/* Set html5 elements to block */
header, nav, section, article, aside, footer {
	display: block;
}

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	background: #CCC;
	min-width: 600px;
	color: #222222;
}

h1 {
	font-size: 28px;
	font-weight: bold;
}
h2 {
	font-size: 22px;
	font-weight: bold;
	color: #36393D;
	margin: 10px 0;
}
p {
	line-height: 150%;
}
.cleafix {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

header#header {
	height: 65px;
	background: #36393D;
	padding: 15px 20px;
}

header#header h1 {
	color: #fff;
}

#header nav {
	margin-top: 13px;
}
#header nav ul {
	list-style: none;
	font-size: 14px;
	float: left;
	width: 100%;
	background: #1A1A1A;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#header nav ul li {
	padding: 8px 15px;
	float: left;
	display: block;
}
#header nav ul li a {
	color: #fff;
}
#header nav ul li.current {
	background: #f5f5f5;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#header nav ul li.current a {
	color: #000;
}

#content {
	padding: 20px 350px 20px 20px;
}
#content > .left {
	width: 100%;
}
#content > .right {
	width: 300px;
	margin-right: -330px;
}
#content section,#content aside {
	background: #fff;
	margin: 0 0 20px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#content header {
	background: #36393D;
	height: 16px;
	padding: 10px 0;
	border-bottom: 5px solid #1A1A1A;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
#content header h3 {
	color: #fff;
}
#content header nav {
	
}
#content nav ul {
	list-style: none;
	font-size: 14px;
	float: left;
	width: 100%;
}
#content nav ul li {
	float: left;
	display: block;
}
#content nav ul li a {
	padding: 10px 15px;
	color: #fff;
}
#content nav ul li a:hover {
	background: #666666;
}
#content nav ul li a.current {
	background: #1A1A1A;
}
#content nav ul li:first-child a {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

#content .content {
	padding: 15px;
}

footer {
	background: #262626;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 100%;
	float: left;
	color: #fff;
}
footer p {
	padding: 10px;
}


#debug {
	float: left;
	display: block;
	margin-top: 20px;
}





/* Table */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 10px 0;
}
thead tr {
	color: #fff;
}
thead th {
	padding: 10px;
	font-weight: bold;
	text-align: left;
	background: #36393D;
}
thead tr th:first-child {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}
thead tr th:last-child {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}
tbody td {
	padding: 10px;
}
tbody tr:nth-child(even) {
	background: #EBEBEB;
}

/* Pagination */
.pagination a, .pagination span, .pagination strong {
	background: #CFCFCF;
	padding: 2px 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #C1C1C1;
	color: #222;
}
.pagination strong {
	background: #36393D;
	border-color: #36393D;
	padding-bottom: 1px;
	color: #fff;
}
.pagination a:hover {
	border-color: #666666;
}
	
	