body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}

body {
	background: url('../images/layout/bg.png') repeat-x #f2f2f2;
	margin-left: 4%;
	margin-top: 130px;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 150%;
}

h1,h2,h3,h4,h5,h6{ margin-bottom:5px; font-weight:normal; }
h1 { font-size: 2.615em; line-height:1.18;  } /* 34px */
h2 { font-size: 2em; line-height:1.19;    } /* 26px */
h3 { font-size: 1.618em; line-height:1.24;   } /* 21 */
h4 { font-size: 1.308em; line-height:1.23;  } /* 17*/
h5,h6 { font-size: 1em; line-height:1.3;   font-weight:700; } /* 13px */

.hidden {
        display: none;
}

#logo {
	background: url('../images/layout/logo.png');
	width: 320px;
	height: 59px;
	position: absolute;
	left: 4%;
	top: 23px;
}
#nav {
	background: url('../images/layout/nav.png');
	height: 39px;
	position: absolute;
	top: 90px;
	left: 4%;
	width: 92.5%;
	color: #ffffff;
}
#nav .left {
	background: url('../images/layout/nav-left.png');
	height: 39px;
	width: 12px;
	float: left;
}
#nav ul {
	float: left;
	margin: 0px;
	padding: 0px;
	padding-top: 2px;
	list-style: none;
}
#nav li {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	height: 28px;
	border-left: 1px solid #4b8dac;
	border-right: 1px solid #70b7d8;
	float: left;
}
#nav li:first-child {
	border-left: 0;
}
#nav li:last-child {
	border-right: 0;
}
#nav a {
	color: #ffffff;
	text-decoration: none;
}
#nav li:hover {
	background: url('../images/layout/hover.png');
}
#nav .right {
	background: url('../images/layout/nav-right.png');
	height: 39px;
	width: 12px;
	float: right;
}
.no-border{
	border: 0px !important;
}
#wrapper {
	width: 96%;
	min-height: 400px;
	background: #ffffff;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	color: #333;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
}
.content {
	padding: 15px 222px 10px 22px;
	display: block;
}
#side {
	position: absolute;
	right: 3.5%;
	top: 130px;
	width: 200px;
	height: 200px;
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-right: 1px solid #ffffff;
	border-top: 0;
	margin-right: 1px;
	-moz-border-radius: 0 0 0 10px;
	-webkit-border-radius: 0 0 0 10px;
}

/**
 * Forms
 */
fieldset {
	margin: 10px 0 0 0;
}
dl {
	clear: both;
	padding: 5px 0 10px 0;
	color: #666;
}
dl:hover label {
	color: #000;
}
dl:hover input, input:focus, dl:hover select, select:focus {
	border-color: #11A3EA;
}
dt {
	float: left;
	width: 160px;
}
dt span {
	font-size: 11px;
	font-weight: normal;
}
dd {
	float: left;
}
input[type="text"], input[type="password"], select {
	width: 200px;
	height: 15px;
	border: 1px solid #bbb;
	padding: 2px 3px;
	vertical-align: middle;
	float: left;
}
select {
	height: 21px;
	width: 208px;
	padding: 1px 2px;
}
input[type="checkbox"] {
	margin: 0 0;
	border: 0;
	width: 20px;
	background: transparent;
	padding: 5px;
	height: 13px;
}
input[type="submit"] {
	width: auto;
	height: auto;
	padding: 5px 10px;
	border: 1px solid #888;
	background: #eee;
	margin: 10px 0 0 0;
}
input[type="submit"]:hover {
	border: 1px solid #bc2a4d;
	color: #bc2a4d;
}
fieldset.small dt {
	width: 70px;
}



/**
Custom
**/

span.bar {
	height: 27px;
	width: 280px;
	display: block;
	margin: 5px 60px 15px 60px;
}
span.hp {
	background:url(../images/bar/hp_bg.png) no-repeat;
}
span.bar span {
	height: 25px;
	max-width: 278px;
}
span.hp span {
	background:url(../images/bar/hp.png) repeat-x;
	display: block;
	margin-left: 1px;
	margin-top: 1px;
	float: left;
}
span.hp p {
	position: relative;
	top: -23px;
	color: #fff;
	text-shadow: 0.1em 0.1em 1px #133b03;
	text-align: center;
	clear: both;
}
span.bar.small {
	width: 180px;
}
span.bar.small span {
	max-width: 178px;
}

div .right {
        float: right;
}


.stats {
        width: 400px;
        float: left;
        margin-right: 40px;
}

.stats h2, .stats p {
        text-align: center;
}

.stats ul {
        border-top: 1px solid #666666;
        list-style: none;
        padding: 2px 0;
}

.stats .left {
        width: 190px;
        float: left;
}

.stats .right {
        width: 190px;
        float: right;
}

.stats li {
        border-bottom: 1px solid #666666;
}

.stats span {
        float: right;
}

.battle .left {
        float: left;
        width: 400px;
}

.battle .right {
        float: left;
        width: 400px;
}

.battle .npc {
        float: left;
}
.battle .right .right {
        width: 300px;
}

ul.no-bullets {
        list-style: none;
}

ul.history {
        font-size: 12px;
}

#message {
        list-style: none;
        border: 1px solid;
        padding: 5px;
        width: 400px;
        background: #ccc;
        font-style: italic;
}

#message.success {
        border-color: #92b967;
        background: #d6eac1;
}

#message.error {
        border-color: #d8a59f;
        background: #f6dcd9;
}

.items .item {
        float: left;
        margin: 5px;
}


#tooltip {
        position: absolute;
        z-index: 3000;
        border: 1px solid #111;
        background-color: #eee;
        padding: 5px;
        opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

/**
 * Forum
 */
div.forum-category 
{
        border:1px dotted #ccc;
        padding:10px
}

div.forum-topic
{
        border:1px dotted #ccc;
        padding:10px
}

div.forum-title 
{
        border:1px dotted #ccc;
        padding:10px
}

div.forum-content 
{
        border:1px dotted #ccc;
        padding:30px
}

